<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-size: cover;
            background-image: url("https://www.anightinavaloria.com/category-bg.webp");
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 400px;
            margin: 50px auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            font-size: 14px;
            color: #333;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input[type="password"] {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        button {
            padding: 10px;
            background-color: #8055ac;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            opacity: 0.6;
        }
        .error {
            color: red;
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<img width="100" src="https://www.anightinavaloria.com/vote-logo.png" alt="Avaloria">
<div class="container">
    <h1>Enter Admin Secret to perform action</h1>
    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
    <form action="{{url}}" method="POST">
        <input type="password" name="secret" placeholder="Secret" required>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
